.blue
  background-color main

.green
  background-color green

.fa.fa-star
  color yellow
  padding 0 2px
  
.fa.fa-star-o
  color yellow
  padding 0 2px
  
.fa.fa-star-half-o
  color yellow

.hidden
  visibility hidden
  
.centered
  text-align center
