#header
  background-color white
  box-shadow 0 1px 1px rgba(0, 0, 0, 0.5)
  width 100%
  position fixed
  top 0
  left 0
  padding 10px
  box-sizing border-box

  strong
    font-size 1.2em
    color blue
    padding 0
    margin 0
    text-shadow 0 1px 1px rgba(0, 0, 0, 1)

  ul
    color blue
    text-align right
    position absolute
    top -5px
    right 10px
    li
      display inline
      margin 0
      padding 0 10px
