#serviceDetail
  display flex
  
  .reviewSingle
    padding 10px
    margin 10px 0
    box-shadow 0 1px 1px opa7
  .mainCol
    padding paddingDefault
    flex 1
  .floatCol
    text-align center
    padding paddingDefault
    width 250px
    height 350px
    background white
    box-shadow 0 1px 1px opa5
    button
      width 240px
      margin 10px 0
    input
      width 220px
      margin 2px 0
      background gray
  .topNav
    color main
