#account
  position relative
  
  #settingsHeader
    margin-left 200px

  #settingsNav
    position absolute
    left 0
    top 0
    width 150px
    #navButtons
      margin 0
      .currentPage
        background black
        color white
    li
      padding paddingDefault
      margin-bottom paddingDefault
      background main
      box-shadow 0 1px 1px opa5
      color white
    #userShort
      text-align center
      #userImage
        height 150px
        width 150px
        margin 0
        padding 0
        border 1px solid black
        font-size 5em
        border-radius 50%
        background black
        color white
        span
          vertical-align middle
          line-height 150px
      #userName
        margin 20px 0
    
  #settingsForm
    box-sizing border-box
    width 500px
    position absolute
    left 200px
    top 50px
    box-shadow 0 1px 1px opa5
    background white
    padding paddingDefault
    input
      box-sizing border-box
      width 100%
      background gray
      margin 10px 0
    #topContainer
      text-align center
    #bottomContainer
      color red
      .submitForm
        text-align center
        button
          background main
