// Colors
black = #373737
white = #ffffff
main = #2185D0
// blue = #2185D0
// red #cc4444
orange = #FF4500
green = #21ba45
yellow = #f4c150
gray = #f4f4f4
opa5 = rgba(33, 33, 33, 0.5)
opa7 = rgba(33, 33, 33, 0.7)

backgroundColor = #f4f4f4

// Fonts
fontSize = 1em
fontFamily = "Roboto"

// Defaults
paddingDefault = 10px
