strong #[a(href="/") Doforu] 
ul
  - if (currentUser)
    li #{success}
    li #[i.fa.fa-user] #{currentUser.username}
    li #[a(href="/logout") #[i.fa.fa-sign-out] Kirjaudu ulos]
  - else 
    li.loginShow #[a #[i.fa.fa-unlock-alt] Kirjaudu]
