strong #[a(href="/") Doforu] 
ul
  - if (currentUser)
    li.successMessage #{success}
    li.errorMessage #{error}
    - if (currentUser.provider)
      li #[a(href="/user/services") #[i.fa.fa-tags]]
      li #[a(href="/user/edit-account") #[i.fa.fa-user]]
    - else
      li #[a(href="/user/edit-account") #[i.fa.fa-gear]]
    li #[a(href="/logout") #[i.fa.fa-sign-out]]
  - else 
    li.loginShow #[a #[i.fa.fa-unlock-alt]]
