div#registerBox.centered.hidden
  h3 Luo tunnus
  form(action="/register" method="POST")
    input#registerEmail.inputText(name="userEmail" placeholder="sähköposti" required)
    br
    input.inputText(name="userFirstName" placeholder="etunimi" required)
    br  
    input.inputText(name="userLastName" placeholder="sukunimi" required)
    br
    br
    input.inputText(type="password" name="userPassword" placeholder="salasana" required)
    br
    input.inputText(type="password" name="userPasswordAgain" placeholder="salasana uudelleen" required)
    br
    br
    div.left
      label
        input.inputCheckBox(type="checkbox")
        | Palveluntarjoaja
    br
    button.blue Rekisteröidy
    hr
    p.changeLogin Minulla on jo tili

div#loginBox.centered.hidden
  h3 Kirjaudu sisään
  form(action="/login" method="POST")
    input#loginEmail.inputText(name="userEmail" placeholder="sähköposti" required)
    br
    input.inputText(type="password" name="userPassword" placeholder="salasana" required)
    br
    button.blue Kirjaudu
    hr
    p.changeRegister Minulla ei ole vielä tiliä
