div#registerBox.centered.hidden
  h3 Luo tunnus
  hr
  form(action="/register" method="POST") 
    ul
      li #[input.inputCheckBox(type="checkbox" name="providerCheck" @click="isChecked")]
        | Palveluntarjoaja
    ul
      li #[input#registerEmail.inputText(name="userEmail" placeholder="sähköposti" required)]
      li #[input.inputText(name="userFirstName" placeholder="etunimi" required)]
      li #[input.inputText(name="userLastName" placeholder="sukunimi" required)]
    ul
      li #[input.inputText(type="password" name="userPassword" placeholder="salasana" required)]
      li #[input.inputText(type="password" name="userPasswordAgain" placeholder="salasana uudelleen" required)]
    ul(v-if="provider")
      li #[input.inputText(type="text" name="businessId" placeholder="Y-tunnus" v-model="companyId" @blur="getYtunnus" required :disabled="loading")]
      li #[p(v-show="loading" class="fa fa-spinner fa-spin")]
      li #[input.inputText(name="companyName" v-model="companyName" v-show="companyName")]
    hr
    button.blue(:disabled="loading") Rekisteröidy
    hr
    p.changeLogin Minulla on jo tili

div#loginBox.centered.hidden
  h3 Kirjaudu sisään
  hr
  form(action="/login" method="POST")
    ul
      li #[input#loginEmail.inputText(name="userEmail" placeholder="sähköposti" required)]
      li #[input.inputText(type="password" name="userPassword" placeholder="salasana" required)]
    hr
    button.blue Kirjaudu
    hr
    p.changeRegister Minulla ei ole vielä tiliä
