extends layout/layout

block content
  div#account
    h1 Tervetuloa sivuillesi #{currentUser.username}
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odio libero qui atque, ipsa saepe suscipit ipsum nobis eveniet perspiciatis odit placeat, a, nostrum dolores. Sapiente repudiandae vel architecto aut.
