extends layout/layout

block content
  div#landing
    div#topContainer.centered
      h1 Löydä paikalliset kodinhuolto ja remontin tekijät samasta paikasta
      form(action="/services" method="GET" @submit.prevent="onSubmit")
        div#landingSearch
          input#searchName(name="searchName" placeholder="Hae palvelua")
          input(@input="changeValue()" placeholder="Paikkakunta")
          button.blue Hae Palvelua
          button.green 24/7 Päivystys
    div#bottomContainer.centered
      button(@click="getData") What to do..
      h1 Todos
      p(v-for="todo in todos") {{ todo }}
