extends layout/layout

block content
  div#topContainer.centered
    h1 Löydä paikalliset kodinhuolto ja remontin tekijät samasta paikasta
    form(action="/services" method="GET")
      input#searchName(name="searchName" placeholder="Hae palvelua")
      input(@input="changeValue()" placeholder="Paikkakunta")
      button.blue Hae Palvelua
      button.green 24/7 Päivystys
  div#bottomContainer.centered
    h1 Ajankohtaista juuri nyt 
    p Passport.js kirjautuminen + cookie
    p Esimerkkidataa tableihin
    p Lisää kahvia
    p Tää vue juttu: {{ value }}
    p Palveluiden lisätiedot table + näyttö
    p Käyttäjäasetuksien hallinta

  script(src="/scripts/index.js")
